.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  height: 100%;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___description {
  display: block;
  width: 100%;
  background: #ffdfa7;
  padding: 10px 5px;
  border: 5px solid #ca9650;
}
.fighter-preview___description-p {
  margin: 0;
}
.fighter-preview___description-name {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #ba0303;
}
